.grow {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.grow:hover {
  transform: scale(1.05);
}
.easing {
  transition: all 0.1s ease-in;
}

.soft-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.076),
    0 80px 50px rgba(0, 0, 0, 0.01);
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(1);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(1);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.slowRepetitiveMotion {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
